/* NAVBAR */

.navbar{
display:flex;
align-items:center;
justify-content:space-between;
padding:15px 40px;
background:#0b0b0b;
color:white;
position:relative;
}

/* LOGO */

.logo-section{
display:flex;
align-items:center;
gap:10px;
}

.logo-img{
width:55px;
height:55px;
border-radius:50%;
}

.logo-text{
display:flex;
flex-direction:column;
line-height:1.1;
}

.logo-small{
font-size:12px;
color:#ccc;
}

.logo-big{
font-size:26px;
font-weight:bold;
color:#FFD700;
}

/* DESKTOP MENU */

.nav-links{
display:flex;
gap:30px;
align-items:center;
}

.nav-links a{
text-decoration:none;
color:white;
font-size:16px;
transition:0.3s;
white-space:nowrap;
}

.nav-links a:hover{
color:#FFD700;
}

/* SEARCH ICON */

.search-icon{
font-size:18px;
cursor:pointer;
margin-left:15px;
}

/* HAMBURGER */

.menu-icon{
display:none;
font-size:28px;
cursor:pointer;
position:absolute;
right:30px;
top:22px;
}

/* MOBILE SIDEBAR */

.mobile-menu{
position:fixed;
top:0;
left:-100%;
width:300px;
height:100%;
background:#0d0f13;
transition:0.4s;
z-index:9999;
padding:30px;
}

.mobile-menu.active{
left:0;
}

/* MOBILE HEADER */

.mobile-header{
display:flex;
justify-content:space-between;
align-items:center;
}

.close-menu{
background:none;
border:none;
font-size:24px;
color:white;
cursor:pointer;
}

/* MOBILE LINKS */

.mobile-links{
margin-top:40px;
display:flex;
flex-direction:column;
}

.mobile-links a{
color:white;
text-decoration:none;
padding:16px 0;
font-size:18px;
border-bottom:1px solid rgba(255,255,255,0.1);
}

.mobile-links a:hover{
color:#FFD700;
}

/* RESPONSIVE */

@media(max-width:1100px){

.nav-links{
display:none;
}

.search-icon{
display:none;
}

.menu-icon{
display:block;
}

}