/* NAVBAR */

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 40px;
background:#111;
flex-wrap:wrap;
}

/* LOGO */

.logo-section{
display:flex;
align-items:center;
}

.logo-img{
width:55px;
height:55px;
border-radius:50%;
margin-right:10px;
}

.logo-text{
display:flex;
flex-direction:column;
}

.logo-small{
font-family:'Poppins', sans-serif;
font-size:12px;
color:#ccc;
}

.logo-big{
font-family:'Playfair Display', serif;
font-size:22px;
font-weight:600;
color:#FFD700;
letter-spacing:1px;
}

/* LINKS */

.nav-links{
display:flex;
flex-wrap:wrap;
}

.nav-links a{
margin:0 15px;
text-decoration:none;
font-family:'Poppins', sans-serif;
font-size:15px;
color:white;
transition:0.3s;
}

.nav-links a:hover{
color:#FFD700;
}

/* SEARCH */

.search-container{
display:flex;
align-items:center;
position:relative;
}

.search-box{
display:flex;
align-items:center;
background:white;
border-radius:25px;
overflow:hidden;
width:0;
transition:0.4s;
}

.search-box.active{
width:200px;
margin-right:10px;
}

.search-box input{
border:none;
outline:none;
padding:8px 10px;
font-size:14px;
width:100%;
}

.search-box button{
border:none;
background:#FFD700;
padding:8px 12px;
cursor:pointer;
}

.search-icon{
font-size:18px;
color:white;
cursor:pointer;
}

.search-icon:hover{
color:#FFD700;
}

/* MOBILE */

@media(max-width:768px){

.nav-links{
display:none;
}

.search-box.active{
width:140px;
}

}